@charset "UTF-8";
@use 'typography';

* { margin:0; padding:0; font:inherit; color:inherit; }
*, :after, :before { box-sizing:border-box; flex-shrink:0; }
:root { -webkit-tap-highlight-color:transparent; -webkit-text-size-adjust:100%; text-size-adjust:100%; cursor:default; line-height:1; overflow-wrap:break-word; -moz-tab-size:4; tab-size:4; }
html, body { height:100%; }
img, picture, video, canvas, svg { display: block; max-width:100%; }
button { background:none; border:0; cursor:pointer; }
a { text-decoration:none; }
table { border-collapse:collapse; border-spacing:0; }
// resetCss 참고: https://velog.io/@teo/2022-CSS-Reset-%EB%8B%A4%EC%8B%9C-%EC%8D%A8%EB%B3%B4%EA%B8%B0


// 추가
html, body {
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
ul, ol, li {
    list-style-type: none;
}
th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}
thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
label {
    display: inline-block;
}
input{
    font-family: inherit;
    -webkit-border-radius: 0;
    border: 0;
}
textarea {
    resize: none;
}
button {
    border-radius: 0;
}
address, em {
    font-style:normal;
}
input:focus, select:focus, option:focus, textarea:focus, button:focus {
    outline: none;
}
p, span, b, strong, h1, h2, h3, h4, h5, h6 {
    word-break: keep-all;
}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
}


/* select 초기화 */
/* ------------------------------------------------------------------------------------ */
select{
    appearance: none;
    -webkit-appearance: none; /* 사파리, 크롬 하위버전용 */
    -moz-appearance: none; /* 사파리, 크롬 하위버전용 */
}
select::-ms-expand{ display: none; } /* 익스플로러용 */


/* 에디터뷰 reset css 해제 */
/* ------------------------------------------------------------------------------------ */
.none-reset, .none-reset * {
    font-size: revert;
    font-family: revert;
    font-weight: revert;
    line-height: 1.3;
    color: revert;
    letter-spacing: revert;
}
