// 세로 bounce 애니메이션
@mixin bounce-y {
    @keyframes bounce-y-ani {
        0% {
            transform: translate3d(-50%, 0, 0);
        }
        100% {
            transform: translate3d(-50%, 5px, 0);
        }
    }
}


// 가로 state bar 애니메이션
@mixin state-ani {
    @keyframes state-ani {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
}



// swiper slide 배경이미지 축소 효과
@mixin scale-ani {
    @keyframes scale-ani {
        0% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
}



// 스크롤 버튼 애니메이션
@mixin heightMore {
    @keyframes heightMore {
        0% { height: 40%; }
        50% { height: 100%; }
        100% { height: 40%; }
    }
}



// 스크롤 버튼 애니메이션
@mixin widthMore {
    @keyframes widthMore {
        0% { width: 0; }
        100% { width: 75px; }
    }
}



// fade in up
//@mixin custom-fadeInUp($height) {
//    @keyframes custom-fadeInUp {
//        0% { transform: translateY($height); opacity: 0; }
//        100% { transform: translateY(0); opacity: 1; }
//    }
//}

// text reveal effect, splitting 애니메이션
@mixin text-active() {
    @keyframes text-active-ani {
        from {
            opacity:0;
            filter:Alpha(opacity=0);
            -webkit-transform: translateY(90%);
            transform: translateY(90%);
        }
        to {
            opacity:1.0;
            filter:Alpha(opacity=100);
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
}

@mixin fadeInUp($translateY: 90%) {
    @keyframes fade-in-up-ani {
        from {
            opacity:0;
            filter:Alpha(opacity=0);
            -webkit-transform: translateY($translateY);
            transform: translateY($translateY);
        }
        to {
            opacity:1.0;
            filter:Alpha(opacity=100);
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
}

.reveal {
    position: relative;
    overflow: hidden;

    &>span {
        display: block; opacity: 0; line-height: 1.5;
    }
    &.on>span {
        @include text-active;
        animation: text-active-ani 1.3s cubic-bezier(0.4, 0, 0.2, 1) both;
    }
}



// 입체 x축 rotate 애니메이션
@mixin rotate($color, $font-size, $font-weight) {
    position: relative;
    display: block;

    &>span {
        color: $color;
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: $font-size;
        font-weight: $font-weight;
        transform-origin: center top;
        transition: color .3s, transform .3s cubic-bezier(.76,0,.24,1);

        &.front {
            position: relative;
            transform: rotateX(0deg);
        }
        &.back {
            position: absolute;
            top: 100%;
            left: 0;
            transform: rotateX(-90deg);
        }
    }

    &:hover span.front {
        transform: rotateX(90deg) translateY(-100%);
    }
    &:hover span.back {
        transform: rotateX(0deg) translateY(-100%);
    }

}
